<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Client Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stsm.css}"/>
</head>
<body>

<div>
    <img src="/images/trucklogo.png" alt="Truck logo" title="Truck logo"
         th:src="@{/images/trucklogo.png}"/>
</div>

<div>
    You are logged in as client:
    <a th:href="@{/client/orders}">Orders</a>
    <a th:href="@{/client/contracts}">Contracts</a>
</div>

<div class="truckingitemlist" th:unless="${#lists.isEmpty(orderDataList)}">

    <h2>List of orders</h2>

    <table>
        <thead>
        <tr>
            <th>Identificator</th>
            <th>Cargo weight</th>
            <th>Cargo size</th>
            <th>Loading address</th>
            <th>Shipping address</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderDataList}">
            <td th:text="${{order.id}}">0</td>
            <td th:text="${{order.cargoWeight}}">0</td>
            <td th:text="${#strings.concat('(', order.cargoLength, ', ', order.cargoWidth, ', ', order.cargoHeight, ')')}">0</td>
            <td th:text="${{order.loadingAddress}}"></td>
            <td th:text="${{order.shippingAddress}}"></td>
            <td th:text="${{order.orderState}}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div>

    <h2>Create new order</h2>

    <form action="#" th:action="@{/client/orders}" th:object="${newOrderData}" method="post">

        <fieldset>

            <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                <li th:each="err : ${#fields.errors('*')}">Input is incorrect</li>
            </ul>

            <div>
                <label th:for="${#ids.next('cargoWeight')}">Cargo weight:</label>
                <input type="number" th:field="*{cargoWeight}" th:errorclass="fieldError" />
            </div>

            <div>
                <label th:for="${#ids.next('cargoLength')}">Cargo size:</label>
                <input type="number" size="2" th:field="*{cargoLength}" th:errorclass="fieldError" />
                <input type="number" size="2" th:field="*{cargoWidth}" th:errorclass="fieldError" />
                <input type="number" size="2" th:field="*{cargoHeight}" th:errorclass="fieldError" />
            </div>

            <div>
                <label th:for="${#ids.next('loadingAddress')}">Loading Address:</label>
                <input type="text" th:field="*{loadingAddress}" th:errorclass="fieldError" />
            </div>

            <div>
                <label th:for="${#ids.next('shippingAddress')}">Shipping Address:</label>
                <input type="text" th:field="*{shippingAddress}" th:errorclass="fieldError" />
            </div>


            <div class="submit">
                <button type="submit" name="create">Create Order</button>
            </div>

        </fieldset>

    </form>

</div>

<div>

    <h2>Remove order</h2>

    <form action="#" th:action="@{/client/orders}" th:object="${orderData}" method="post">

        <fieldset>

            <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                <li th:each="err : ${#fields.errors('*')}">Input is incorrect</li>
            </ul>

            <div>
                <label th:for="${#ids.next('longValue')}">Order identificator:</label>
                <input type="number" th:field="*{id}" th:errorclass="fieldError" />
            </div>

            <div class="submit">
                <button type="submit" name="remove">Remove Order</button>
            </div>

        </fieldset>

    </form>

</div>

</body>
</html>