<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Driver Contracts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stsm.css}"/>
</head>
<body>

<div>
    <img src="/images/trucklogo.png" alt="Truck logo" title="Truck logo"
         th:src="@{/images/trucklogo.png}"/>
</div>

<div>
    You are logged in as driver:
    <a th:href="@{/driver/orders}">Orders</a>
    <a th:href="@{/driver/contracts}">Contracts</a>
</div>

<div class="truckingitemlist" th:unless="${#lists.isEmpty(contractDataList)}">

    <h2>List of contracts</h2>

    <table>
        <thead>
        <tr>
            <th>Contract Id</th>
            <th>Manager Id</th>
            <th>Order Id</th>
            <th>Client Id</th>
            <th>Client Status</th>
            <th>Driver Id</th>
            <th>Driver Status</th>
            <th>Payment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${contractDataList}">
            <td th:text="${{contract.id}}">0</td>
            <td th:text="${{contract.managerId}}">0</td>
            <td th:text="${{contract.orderId}}">0</td>
            <td th:text="${{contract.clientId}}">0</td>
            <td th:text="${{contract.clientStatus}}"></td>
            <td th:text="${{contract.driverId}}">0</td>
            <td th:text="${{contract.driverStatus}}"></td>
            <td th:text="${{contract.payment}}">0</td>
        </tr>
        </tbody>
    </table>
</div>


<div>

    <h2>Update contract status</h2>

    <form action="#" th:action="@{/driver/contracts}" th:object="${contractData}" method="post">

        <fieldset>

            <div>
                <label for="contractId">Contract Id:</label>
                <input type="number" id="contractId" name="contractId" />
            </div>

            <div class="submit">
                <button type="submit" name="update" value="approve">Approve Contract</button>
                <button type="submit" name="update" value="refuse">Refuse Contract</button>
                <button type="submit" name="update" value="complete">Complete Contract</button>
            </div>

        </fieldset>

    </form>

</div>

</body>
</html>