<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Trucking Services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stsm.css}"/>
</head>
<body>

<div>
    <img src="/images/trucklogo.png" alt="Truck logo" title="Truck logo"
         th:src="@{/images/trucklogo.png}"/>
    <hr />
</div>

<div id="react"></div>
<script src="/built/bundle.js"></script>


</body>


</html>